body {
	background-color: black;
	font-family: Montserrat, sans-serif;
	font-weight: 600;
}


.header{
	color: rgb(68,84,110);
	background-color: rgb(32,32,32);
	width: 940px;
	height: 70px;
	margin-top: 20px;
	border-left-style:solid;
	border-left-color:rgb(68,84,110);
	border-left-width: 6px;
	position:absolute;
	

	
	
}
.menu li a{
	font-size: 15px;
	padding:15px;
	padding-top:15px;
	padding-bottom:15px;
	text-transform:uppercase;
	color:white;
}
.z1{
	padding-bottom: 60px;
	width: 1000px;
	padding-right: 0px;
	padding-left: 0px;
}
.menu li  hover{
	background-color: rgb(242,242,242);
	transition: 0.4s;
}

.img3{
	background: url(images/home-bg.jpg);
	
	height:500px;
	
	
	background-size: cover;
	background-position: center;
}

.h3{
	width: 100%;
	text-transform: uppercase;
	position: relative;
	
	top: 40%;
	right: 10%;
	color: white;
	text-align: center;
	padding: 10px 0px;
	font-size: 50px;
	

}
.h1{
	width: 100%;
	text-transform: uppercase;
	position: relative;
	
	top: 45%;
	color: white;
	text-align: center;
	padding: 10px 0px;
	font-size: 60px;
}
.p-image{
	padding-left: 0px;
	padding-right: 0px;

}
.c1{
	background-color: rgb(193,63,0);
	text-align: center;
	padding: 40px 20px;
	position: relative;
	top: -40px;
}
.c1 i{
	border: solid 2px;
	width: 80px;
	height: 80px;
	font-size: 32px;
	border-radius: 50px;
	line-height: 76px;
	color: white;

}
.c1 h2{
	color: white;
}
.c1 p{
	color: white
}
.c2{
	padding-top:60px;
	
}

.m1{
	padding-left:0px;
}
.m2 h2{
	color: white;
	padding-top:15px;
	padding-bottom: 15px; 
}
.m2 p{
	color: rgb(128,128,128);
	padding-top:15px;
	padding-bottom: 15px; 

}
.color{
	background-color: rgb(25,25,25);
	 
}
.m2 a{
	border: solid 2px;
	color: white;
	padding-top:15px;
	padding-bottom: 15px; 
}
.x1{
	text-align: center;
	margin-top: 60px;
}
.x1 h2{
	padding-bottom: 30px;
	color: white;
}
.x1 p{
	color: rgb(153,153,153);
}
.footer-up{
	background-color: rgb(28,28,28);
	color: rgb(128,128,128);
	padding-top: 60px;
	margin-left: 0px;
	margin-right: 0px;
}
.f1 img{
	margin-bottom: 10px;
}
.f1 p{
	
	font-size: 14px;
	margin-bottom: 10px;

}
.f1 p i{
	font-size: 18px;
	margin-right: 10px;
	padding:5px;
}
.f2 h3{
	color: white;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-bottom: 10px;

}
.f2 p a{
	color: rgb(128,128,128);
	text-decoration: none;
}
.f2 p{
	padding-bottom: 10px;
	margin-bottom: 0px;
}
.f3 h3{
	color: white;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-bottom: 10px;

}
.f3 form button{
	border: solid 2px;
	color: white;
	margin-top: 20px;

}
.f3 form input{
	border: solid 2px;
	color: white;
	background-color: black;
}
.footer-bottom{
	margin-top: 30px;
}
.w1{
	width: 1000px;
}

.social-icons li{
	list-style: none;
	float: left;
	margin: 10px;
	padding: 10px 15px;
	background-color: rgb(45,45,45);
	cursor: pointer;
 
}
@media only screen and (max-width: 575px){
	body{
		font-weight: 500;
	}
	.z1{
		width: auto;
	}
	.header{
		width: auto;
		height: auto;
		text-align: center;
	}
	.menu li a{
		padding-right:5px;
		padding-left: 5px;
	}
	.k2{
		padding: 0px;
	}
	
	.menu{
		text-align: center;
		padding-right: 25px;
	}
	.h3{
		font-size: 20px;
		font-weight: 600;
	}
	.h1{
		font-size: 20px;
		font-weight: 600;
	}
	.img3{
		height:300px;
	}
	.c1{
		margin-bottom: 10px;
		text-align: center;
	}
	.m1{
		text-align: center;
		padding-right: 0px;
	}
	.m2{
		text-align: center;

	}

	.w1{
		width: auto;
		height: auto;
	}
	.footer-up{
		padding-top: 30px;
	}
	.f2 h3{
		margin-top: 10px;
	}
	.footer-bottom{
		text-align: center;
	}
	.social-icons li{
		margin-right: 7px;
		margin-left: 7px;
	}

}

